<%- include('header') %>

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Forms</a></li>
                        <li class="active">Basic</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">


            <!--/.col-->


            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Basic Form</strong>
                    </div>
                    <div class="card-body card-block">
                        <form action="/admin/ChangeAdminPassword" method="post" class="form-horizontal">
                          
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="password-input"
                                        class=" form-control-label">Current Password</label></div>
                                <div class="col-12 col-md-9"><input type="password" id="password"
                                        name="opass" placeholder="Password" class="form-control"></div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3"><label for="password-input"
                                        class=" form-control-label">New Password</label></div>
                                <div class="col-12 col-md-9"><input type="password" id="password"
                                        name="npass" placeholder="Password" class="form-control"></div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3"><label for="password-input"
                                        class=" form-control-label">Confirm Password</label></div>
                                <div class="col-12 col-md-9"><input type="password" id="password"
                                        name="cpass" placeholder="Password" class="form-control"></div>
                            </div>


                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Change Password
                        </button>
                        <button type="reset" class="btn btn-danger btn-sm">
                            <i class="fa fa-ban"></i> Reset
                        </button>
                    </div>
                </div>
                </form>

            </div>

            <%- include('footer') %>